Learning.RealTimeApplication/Back-end/.vs/Learning.RealTimeApplication/DesignTimeBuild/.dtbcache.v2
Learning.RealTimeApplication/Back-end/.vs/Learning.RealTimeApplication/v16/.suo
Learning.RealTimeApplication/Front-end/chat/.idea/workspace.xml
Learning.Authentification/.vs/Learning.Authentification/DesignTimeBuild/.dtbcache.v2
*.suo
Learning.RealTimeApplication/Front-end/chat/.idea
