@import "./base/base";
@import "./base/typography";

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/container";

body, html {
  font-size: 16px;
  color: rgba(0, 0, 0, .87);
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  font-weight: 500;
}
.topbar
{
  position : fixed;
  background-color : white;
  width : 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .05);
  padding : 20px 0px;
}
.topbar nav
{
  float : left;
}

.topbar nav a
{
  color: #9F9F9F;
  text-decoration: none;
  font-weight: 500;
  margin: 0 53px;
}

.topbar nav a.active
{
  color : black;
}

.topbar .social
{
  float : right;
}