/* Shared */
@font-face
{
    font-family: "Diablo";
    src: url("fonts/Diablo.woff2") format("woff2");
}
/* TODO : remove unused fonts, shadow button, assombrir le header, */
/* @font-face
{
    font-family: "Alegreya";
    src: url("fonts/AlegreyaSans-Medium.woff") format("woff");
}
/* @font-face
{
    font-family: "Alegreya";
    src: url("fonts/AlegreyaSans-Medium.woff") format("woff");
}
@font-face
{
    font-family: "KindOfArial";
    src: url("fonts/KindOfArial.ttf") format("wtf");
}
@font-face
{
    font-family: "KindOfArial2";
    src: url("fonts/KindOfArial/woff2") format("woff2");
} */
   
*, *::before, *::after
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin : 0;
    padding : 0;

    font-family: "Diablo";
    text-decoration: none;
    color : #a58546;
    
    user-select: none;
}


/* Header */
header
{
    display : flex;
    justify-content: space-between;
    padding-left : 41px;
    padding-top : -1px;
    position: fixed;
    z-index : 100;
    
    height : 70px;
    line-height: 70px;
    width: 100%;

    background : linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.42) 50%, transparent), url("images/header-background.png");
}

.diablo-logo
{
    width : 66px;
    height : 70px;

    margin-top : -1px;
}
.diablo-logo:hover { filter: brightness(125%); }

.nav-bar { display : flex; }

.nav-link-container
{
    display : flex;
    text-align: center;
    margin-left : -1px;
}

.nav-link-item, .nav-link-item-forum-text 
{
    display: flex;
    align-items: center;
    margin-top : 1px;

    text-align: center;
    font-size : 18px;

    cursor: pointer; 
}
.nav-link-item::before
{
    content: '';
    pointer-events: none;
    
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.1);

    padding: 16px 0px;
    margin : 0px 16px;
}
.nav-link-item:hover { color : #e9c964; }

.nav-link-item-forum { display : flex; }

.nav-link-item-goto-image
{
    width : 24px;
    height : 24px;
        
    margin-top : 2px;
    margin-left : 3.5px;

    fill : #a58546;
}

.sign-up-button
{
    background : url('images/sign-up-button.jpg');
    
    margin-top : 7px;
    margin-right : 40px;
    
    width: 400px;
    height : 56px;

    box-shadow: 0 0 33px 0 rgb(0 0 0 / 70%);
}

.sign-up-button-text
{
    margin-top : -7px;
    
    font-size : 32px;
    text-align : center;
    color : #bd9b4e;
    text-shadow: 0px 2px 4px rgb(0 0 0 / 86%);

    cursor: pointer; 
}

.page-separator
{
    border-top: 3px solid black;

    width : 100%;

    position: fixed;
    top : 70px;
    z-index : 100;
}

/* Main page */
.main-page
{
    background : black;
    height: clamp(960px, calc(100vh + 310px), 1280px + 70px);
}

.main-page-container
{
    width: 60%;
    margin : auto;
}

.main-page-video
{
   position: absolute;
   left: 0;
   right: 0;
   top : 70px;
   margin: auto;
   padding-left : 2px;

   height: clamp(960px, calc(100vh - 70px), 1280px);
   overflow:hidden;
}
/* Fonts + background + color + hover + button subscribe */