.netflix-page-separator
{
    width: 100%;
    border-bottom: solid 10px rgb(34,34,34);
    margin-top: -1px;
}

.diablo-page-separator
{
    height : 20px;
    background : url('images/diablo-page-separator.jpg');
    position : relative;
}