Back-end/.vs/Learning.RealTimeApplication/DesignTimeBuild/.dtbcache.v2
Back-end/.vs/Learning.RealTimeApplication/v16/.suo
Front-end/chat/.idea/workspace.xml
Front-end/chat/.idea
Back-end/.vs/Learning.RealTimeApplication/DesignTimeBuild/.dtbcache.v2
Back-end/.vs/Learning.RealTimeApplication/v16/.suo
Front-end/chat/.idea/workspace.xml