/* Shared */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
@font-face
{
    font-family: "Diablo";
    src: url("fonts/Diablo.woff2") format("woff2");
}
@font-face
{
    font-family: "Netflix Sans";
    src: url("fonts/Netflix.ttf") format("ttf");
}

:root
{
    --teal: #37eea3;
    --primary : rgb(50, 168, 255);
    --blue : #4b70f9;
}

body
{
    margin : 25px;
    background: rgba(0,0,0,.85);
}

/* Buttons */
/* Diablo */
.diablo-button-text
{
    color : #bd9b4e;
    font-family: "Diablo";
    font-size : 32px;
    text-align: center;
    text-shadow: 0px 2px 4px rgb(0 0 0 / 86%);
    line-height : 92px;

    cursor: pointer; 
}
@media(max-width: 1400px) { .diablo-button-text { font-size : 24px; line-height : 69px; } }
@media(max-width: 720px) { .diablo-button-text { font-size : 20px; line-height : 55.5px; } }

.diablo-button
{
    background : url('images/diablo-button.jpg');
    
    
    width: 560px;
    height : 92px;

    position : relative;
}
@media(max-width: 1400px) { .diablo-button
{
    background : url('images/diablo-button-md.jpg');
 
    height : 69px;
    width : 421px;
} }
@media(max-width: 720px) { .diablo-button
{
    background : url('images/diablo-button-sm.jpg');
    
    height : 55.5px;
    width : 322px;
} }


/* Netflix */
.netflix-button
{
    height : 20px;
    width : 82px;

    color : white;
    font-family: "Netflix Sans";
    font-weight: 400;
    font-size: 1.04rem;
    line-height : 20px;

    margin : auto;
    padding: 8.5px 17.5px;

    background : #e50914;
    border-radius: 3px;
}
.netflix-button:hover { cursor: pointer; filter: brightness(107.5%); }


/* Other buttons */
.other-button
{
    font-family : "Work Sans", sans-seri;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    line-height : 24px;
    -webkit-font-smoothing : antialiased;

    margin : auto;

    background-color : white;
    
    cursor : pointer;
    transition : ease-in-out 0.15s;
    
    border: 2px solid;
    outline : none;
}

.blue-button
{
    padding : 7px 20px;
    color: var(--blue);

    border-color: var(--blue);
    border-radius: 27px;
}

.blue-button:hover
{
    background-image:
        linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)),
        linear-gradient(70deg, #575df2, #32a8ff);

    color : white;

    border-color: var(--primary);
}

.green-button
{
    padding : 6px 15px;
    color: var(--teal);

    border-color: var(--teal);
    border-radius: 24px;
}

.green-button:hover
{
    background-color : var(--teal);
    color : white;
}